{% extends "layout_loggedin.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>home</h1>
    <p><em>Noch's</em> has reached a landmark this year......50 years in business! We've been feeding Harvard and the surrounding area since 1966!</p>

    <p>We sell award-winning sicilian-style pizza and mouth-watering steak subs! We have over 500 reviews on Yelp--- check it out!</p>

    <p>Pinocchio's was recently named 1st Runner-up in the 'Boston's Best Pizza Poll' conducted by Eater.com and Top College Pizza Shop by Thrillist.com. </p>

      <div class="callout">
      <h2>
      Opened at:
      </h2>
    <table class="hours" cellpadding="5">
    <tr><td>Sunday</td><td>1 pm - 12 midnight</td></tr>
    <tr><td>Monday - Thursday</td><td>11 am - 1 am</td></tr>
    <tr><td>Friday - Saturday</td><td>11 am - 2:30 am<super><strong>*</strong></super></td></tr>
    </table>
    <p><em>Please note that when the undergraduate students are not in session we close on Friday and Saturday night at 1:00 am instead of 2:30 am.</em>
    </p></div>

{% endblock %}
