{% extends "layout.html" %}

{% block title %}
    Registrate
{% endblock %}

{% block main %}
    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}
    <form action="/register" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" id=Username>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="me@gmail.com" type="text" id=email>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Registrate</button>
    </form>
{% endblock %}
