{% extends "layout_loggedin.html" %}

{% block title %}
    Winkelwagen
{% endblock %}

{% block main %}
    <h1>Winkelwagen</h1>
    <table id="myTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>orders</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody>
            <ul>
                {% for order in orders %}
                    <tr>
                        <td>{{ order }}</td>
                        <td>{{ order.price }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{ total_price }}</td>
                </tr>
            </ul>
        </tbody>
      </table>


    {% if amount != 0 %}
    <form class="m-5" action="/commit_all_order" method="post">
      {% csrf_token %}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Place Order
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirm Order</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Total price $ {{ total_price }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Return</button>
              <button type="submit" name=usersorder value="{{user}}" class="btn btn-primary">Place Order</button>
            </div>
          </div>
        </div>
      </div>

    </form>
    {% endif %}

{% endblock %}
